extends layout
div#addpage
  block content
    h1= title
    a(href='/') Home
    table(style="width:100%")
      tr
        th Toy 
        th Description
        th Price
        th
          form(action='cart/removeItem', method = 'post', id = 'removeForm')
            input(type='hidden', name='removeArray', id='removeArray', value='#{removeArray}')
            input(type='hidden', name='userId', id='userId', value='#{user.facebookId}')
            input(type='submit', value ='Remove')

      each item in items
        tr
          td 
            img(src= '#{item.image}', style="width:128px;height:128px;")
          td #{item.title}
          td(id="price_#{item._id}" value="#{item.price}") $#{item.price}
          td
            input(type='checkbox', class='checkbox' id='#{item._id}', name='removefromcart', value='dontbuy')
      
    div#totalcartarea
      .container
        p#totalcart Total:
    a(href='/checkout' class='button') Proceed to Checkout
    script.
      var removeArray = [];
      var total = 0;
      var list = $('.checkbox');
      for (var i = 0; i < list.length; i++) {
        addtotal = Number($('#price_'+list[i].id).attr('value'));
        total = total + addtotal;
        total = parseFloat(total.toFixed(2));
      }
      
      $(document).ready( function() {
        console.log($('#totalcart').text());
        $('#totalcart').text('Total: $'+ total.toFixed(2)); 
        console.log($('#totalcart').text());
      })
        
      
      $('.checkbox').click( function() { // on click make an array
        list = $('.checkbox');
        removeArray = [];
        for (var i = 0; i < list.length; i++) {
          if (list[i].checked) {
            removeArray.push(list[i].id);
          }
          console.log('remove'+ removeArray);
        }
      });
      
      
      //TODO check remove
      $('#removeForm').submit(function(){
        console.log("submitting");
        $('#removeArray').val(removeArray);
      });
        

    
