extends layout
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
block content
  h1= title
  p Make christmas memorable for orphans in the Rio Grande Valley
  p
    if user
      a(href="/logout") Logout user: #{user.profile.displayName}
      button(type='button') Cart
    else
      a(href="/auth/facebook") Login with Facebook!
  img(src= "http://4.bp.blogspot.com/-4YfLFhOEXSE/UqR3KT0vf7I/AAAAAAAAIlY/TiJhH6aFX7Y/s1600/Christmas-Gifts-Clip-Arts-High-Resulation-HD-Wallpaper-for-Card-and-Wallpapers+(3).png")
  br
  a(href="/addnew") Add Item
  p(style="color: green")=success
  br
  br
  table(style="width:100%")
    tr
      th Toy
      th Description
      th Price
      th Purchase

    each item in items
      tr
        td 
          img(src= '#{item.image}', style="width:128px;height:128px;")
        td #{item.title}
        td(id="price_#{item._id}" value="#{item.price}") $#{item.price}
        td
          input(type='checkbox', class='checkbox' id='#{item._id}', name='addtocart', value='buy')
            
  script.
    $('.checkbox').click( function() {
      var list = $('.checkbox');
      var total = 0;
      for(var i = 0; i < list.length; i++) {
        addtotal = Number($('#price_'+list[i].id).attr('value'));
        if(list[i].checked)
        {
          total = total + addtotal;  
        }
      }
      total = parseFloat(total.toFixed(2));
      
      $('#totalLabel').text('Total: $'+ total.toFixed(2)); 
    });
  div#total
    .container
      p#totalLabel Total:  
